.carouselContainer {
	display: flex;
	flex-flow: column nowrap;
	width: 50rem;
	padding-bottom: 2vh;
	margin: 1rem;
	background-color: navajowhite;
}

.titleContainer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	font-weight: bold;
	margin: 1rem;
}

.contentContainer {
	display: flex;
}

.slideBox {
	max-width: 50rem;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.slideList {
	white-space: nowrap;
	font-size: 0;
	padding: 0;
}

.slideItem {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.image {
	width: 100%;
	height: 100%;
}

.slideBtn {
	background-color: unset;
	border: 0px;
	font-size: 3rem;
	padding: 0 2vw;
	cursor: pointer;
}

.slideBtn:hover {
	transition: all 0.5s;
	transform: scale(1.1);
}
