.Input {
  font-size: large;
  letter-spacing: 1px;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin: 1vh 0;
  padding: 0 0.5vw;
  width: 50%;
  resize: none;
  line-height: 2rem;
}
