.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  width: 5vw;
  height: 5vw;
}

.Btn:hover {
  cursor: pointer;
  background-color: white;
  color: blue;
  transition: all 1s;
  border-radius: 1rem;
}
