.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  text-align: center;
  padding: 1rem;
  background-color: aliceblue;
  box-shadow: steelblue;
  margin: 1rem 0rem 1rem 0rem;
}

.photo {
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
}

.label_new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: coral;
  width: 5rem;
  height: 2.5rem;
  border-radius: 2rem;
  color: bisque;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 57%;
}
